{% extends 'base.html.twig' %}

{% block body %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Région</th>
      <th scope="col">Nom</th>
      <th scope="col">Millésime</th>
      <th scope="col">Contenance</th>
      <th scope="col">Robe</th>
      <th scope="col">Stock</th>
      <th scope="col">Remarque</th>
    </tr>
  </thead>
  <tbody>
        <tr>
        <th>{{ vin.region.nom }}</th>
        <th scope="row">{{ vin.nom }}</th>
        <td>{{ vin.millesime }}</td>
        <td>{{ vin.contenance }}</td>
        <td>{{ vin.robe }}</td>
        <td>{{ vin.qttStock }}</td>
        <td>{{ vin.remarques }}</td>
        
        </tr>
  </tbody>
</table>

{% endblock %}